<!DOCTYPE html>
<html>
<head>
  <title>SiteDaade</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="header-wrap">
    <header>

        <hgroup>
            <h1><a href="index.html">الضاد</a></h1>
            <h3>معا لتطوير الإعلام الآلي في الوطن العربي</h3>
        </hgroup>

        <nav>
            <ul>    
                <li><%=link_to 'الإتصال بنا', "home#contact" %> </li>                             
                <li> <%=link_to 'من نحن'  , "home#team"%> </li>
                <li><%=link_to 'المدونات'  , :controller =>  "pages", :action => "blog"%></li>
                <li><%=link_to 'المشاريع'  , :controller =>  "pages", :action => "project"%> </li>
                <li><%=link_to 'الخدمات'  , :controller =>  "pages", :action => "service"%></li>
                 <li><a href="home#main">الرئيسية</a></li>
            </ul>
        </nav>

    </header>
</div>

<%= yield %>

<!-- footer -->
<footer>
    <div class="footer-content">
        <ul class="footer-menu">
           <li><a href="#contact">الإتصال بنا</a></li>  
            <li><a href="#team">من نحن</a></li>
                <li><a href="#blogs">المدونات</a></li>
                <li><a href="#projects">المشاريع</a></li>
                <li><a href="#services">الخدمات</a></li>
                 <li><a href="#main">الرئيسية</a></li>
            <!-- <li class="rss-feed"><a href="#">RSS Feed</a></li> -->
        </ul>

       <!-- <p class="footer-text">Copyright 2012 daade. &nbsp;&nbsp;&nbsp; Designed by <a href="http://www.styleshout.com/">Styleshout</a></p> -->
    </div>

</footer>

</body>
</html>
